.----------------.  .----------------.  .----------------.  .----------------.
| .--------------. || .--------------. || .--------------. || .--------------. |
| |      __      | || |     ______   | || | ____    ____ | || |  _________   | |
| |     /  \     | || |   .' ___  |  | || ||_   \  /   _|| || | |_   ___  |  | |
| |    / /\ \    | || |  / .'   \_|  | || |  |   \/   |  | || |   | |_  \_|  | |
| |   / ____ \   | || |  | |         | || |  | |\  /| |  | || |   |  _|  _   | |
| | _/ /    \ \_ | || |  \ `.___.'\  | || | _| |_\/_| |_ | || |  _| |___/ |  | |
| ||____|  |____|| || |   `._____.'  | || ||_____||_____|| || | |_________|  | |
| |              | || |              | || |              | || |              | |
| '--------------' || '--------------' || '--------------' || '--------------' |
'----------------'  '----------------'  '----------------'  '----------------'



    ACME Cafe
    100 Peachtree Road
    London, SW1 09H7
    0984 3993 9993
    http://www.acme.com

    $date               Server: $server

    Table: $table       Cust Num : $checkNumber

    #foreach( $cartProduct in $customerBill.cartProducts )
        $cartProduct.product.description @ $cartProduct.product.price each x $cartProduct.count : $cartProduct.total
    #end

    Sub Total     :  $customerBill.subTotal
    Service Charge:  $customerBill.serviceCharge
    Total         :  $customerBill.total


That you for your custom